<div class="projects listing content">
  <h2 id="page-title"><%=t :projects %></h2>

  <ul id="projects">
  <% @projects.each do |p| %>
    <li class="project">
      <h3><%=link_to p.name, project_path(p.slug) %></h3>
      <%= p.info %>
    </li>
  <% end %>
  </ul>
</div>
