<div class="projects container">
    <h1 class="page-header hidden"><%= t :projects %></h1>

    <ul id="projects">
    <% @projects.each do |project| %>
        <li class="project">
            <h2 class="project-title"><%= link_to project.name, project_path(project.slug) %></h2>

            <%= project.description %>
        </li>
    <% end %>
    </ul>
</div>
