<div class="roadmap container">
    <h1 class="page-header"><%= t :roadmap %></h1>

    <ul class="versions">
    <% @versions.each do |version| %>
      <li>
        <h2 class="version-name"><%= link_to version.name, project_version_path(current_project, version) %></h2>
        <%= markdown version.description %>
      </li>
    <% end %>
    </ul>
</div>
