<div class="errors error-404 container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="page-header"><%= t 'errors.not_found.title' %></h1>
            <p>
                <%= t 'errors.not_found.message' %>
            </p>
        </div>
    </div>
</div>
