<div class="panel panel-danger">
  <div class="panel-heading">
    <%= title %>
  </div>
  <ul class="list-group">
  <% errors.each do |error| %>
    <li class="list-group-item"><%= error %></li>
  <% end %>
  </ul>
</div>
