<div class="error no_permission content">
  <div class="row">
    <div class="offset3 span6">
      <h2 class="page-title"><%=t 'errors.no_permission.title' %></h2>
      <%=t 'errors.no_permission.message' %>
    </div>
  </div>
</div>
