
#page-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.page-actions {
  float: right;
}

table {
    th, td {
        &.actions {
            width: 200px;
            text-align: right;
        }
    }
}
