
#meta-nav {
  background-color: #265f98;
  color: #fff;
}

#header {
  background-color: #3478aa;
  color: #fff;
}

#header, #meta-nav {
  a:link, a:visited {
    color: #fff;
    text-decoration: none;
  }
}

#meta-nav ul, #navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#meta-nav {
  padding: 4px 0;

  ul {

    &.user-nav {
      float: right;
    }
  }

  a:link, a:visited {
    &:hover {
      text-decoration: underline;
    }
  }
}

#header {
  h1 {
    margin: 10px 0;
  }
}

#navbar {
  line-height: 1.45em;

  ul li {
    margin-right: 0;
  }

  a:link, a:visited {
    transition: none;
    padding: 3px 8px;
  }

  li.active a, a:hover {
    background-color: #fff;
    color: #000;
  }
}
