.version-progress {
    .progress {
        margin-bottom: 5px;
    }

    dl {
        dt, dd {
            display: inline-block;
        }

        dd {
            margin-left: 5px;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
