<div class="container">
	<% messages.each do |msg| %>
	<div class="alert fade in <%= msg[:type] %>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= msg[:message] %>
	</div>
	<% end %>
</div>
