<div id="meta-nav">
	<div class="container">
		<ul class="user-nav">
		<% if logged_in? %>
			<li><%=link_to(t(:admincp), admin_path) if current_user.is_admin? %></li>
			<li><%=link_to t(:logout), logout_path, data: { method: :delete } %></li>
		<% else %>
			<li><%=link_to t(:login), login_path %></li>
			<li><%=link_to t(:register), register_path %></li>
		<% end %>
		</ul>
	</div>
</div>
